
:root{
    --primary-color: #004481;
    --secondary-color: #006AC7;
    --third-color: #4b0082;
    --fourth-color: #089673;
    --fifth-color: #ff8c42;
}

@font-face {
    font-family: 'Clash Display';
    src: url('fonts/ClashDisplay-Semibold.woff') format('woff');
    
}
@font-face{
    font-family: 'Clash Display Extralight';
    src: url('fonts/ClashDisplay-Extralight.woff') format('woff');
    
}
body{
    margin:0;
    padding:0;
}
.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.85rem 2rem;
}
.header-title{
    font-family: 'Clash Display Extralight', sans-serif;
    color: var(--primary-color);
}
nav{
    display:flex;
}
nav a{
    text-decoration: none;
    font-family: 'Clash Display', sans-serif;
    color: var(--primary-color);
    margin: 0 1rem;
    font-size: 1.1em;
    font-weight:700;
}
nav a:hover{
    color: var(--secondary-color);
    text-decoration-line: underline;
    text-decoration-color: var(--secondary-color);
    text-decoration-thickness: 0.15rem;
    text-underline-offset: 1rem;
}

/*xxxxxxxxxxxxxxxx---HOME PAGE STYLE---xxxxxxxxxxxxx*/
.intro{
    height: 70vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('images/tutoring-bg.png') ;
    background-size: cover;      /* cover | contain | 100% 100% */
    background-position: center; /* top | bottom | left | right */
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Clash Display', sans-serif;
}
.intro h2{
    margin-bottom:2.5rem;
    font-size: 3rem;
}
.intro p{
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.intro p a{
    color: var(--fifth-color);
}
hr{
    width: 45%;
    border: 1px solid;
    margin: 1rem auto;
}
.btn-actions{
    margin: 2rem 0;
    border: none;
    gap: 1.5rem;
    display:flex;
    justify-content: center;
}
.action-btn{
    font-family: 'Clash Display', sans-serif;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 2rem;
    transition: transform 0.2s;
}
.action-btn:hover{
    transform: scale(1.05);
}
.action-btn:active{
    
    transform: scale(0.95);
}
.tutor-btn{
    background-color: var(--third-color);

}
.request-btn{
    background-color: var(--fourth-color);
}
.find-btn{
    background-color: var(--secondary-color);
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxBECOME A TUTOR PAGE STYLESxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxBECOME A TUTOR PAGE STYLESxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxBECOME A TUTOR PAGE STYLESxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
main{
    font-family: 'Clash Display', sans-serif;
}
.tutor-intro{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--secondary-color)
}
.tutor-intro p a{
    color:  var(--fifth-color);
}
.tutor-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}
.form-group {
    position: relative;
    width: 280px;
    margin: 20px;
    font-size: 1em;
}

.form-group input {
    width: 100%;
    padding: 1rem;
    border: 0.05rem solid #999;
    border-radius: 2rem;
    outline: none;
    
}

.form-group label {
    color: #666;
    background-color:#fff;
    position: absolute;
    top: 50%;
    left: 1.8rem;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.3s ease;
}
.form-group textarea{
    width: 100%;
    min-height: 5rem;
    padding: 1rem 1.2rem;
    font-family: 'Clash Display', sans-serif;
    font-size: 1em;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 1.5rem;
    outline: none;

    resize: none; /* disable resize */
}


/* Move label up when focused or filled */
.form-group input:focus + label,
.form-group input:valid + label,
.form-group textarea:focus + label,
.form-group textarea:valid + label
 {
    top: 0;
    font-size: 1em;
    color: #000;
}


.tutor-submission{
    margin-top: 2rem;
}
/*<<<<<<<<<<<<<---COURSE SELECTION--->>>>>>>>>>>>>>>> */
.radio-section{
    display: flex;
    color: var(--primary-color);
    align-items: center;
    flex-direction:column ;
}
.radio-group {
    width:fit-content;
    display: inline-flex;
    gap:0.5rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group label {
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: 500;
  color: var(--primary-color);
  border: 0.2rem solid #eee;
  border-radius: 2rem;
  transition: all 0.2s ease;
}
/* Hover */
.radio-group label:hover {
  border-color: var(--fifth-color);
}

/* Selected */
.radio-group input[type='radio']:checked + span{
  color: var(--fifth-color);
}

.checkbox-group{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:2rem;
    font-size: 1.2em;
    accent-color: var(--fifth-color);
}




/* FIND A TUTOR PAGE STYLES */
.tutor-results h3,.tutor-card h4{
    font-family: 'Clash Display', sans-serif;
    text-align: center;
    color: var(--primary-color);
}
  
.tutor-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.tutor-card {
    background-color: #fff;
    border: 0.15rem solid var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 2rem;
    margin:1rem;
    transition: transform 0.2s, box-shadow 0.2s;
}
.tutor-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.8);
}
p a{
    font-family: 'Clash Display', sans-serif;
}
.tutor-card-body p {
    font-family: 'Clash Display ExtraLight', sans-serif;
    margin: 1rem 0;
    color: #555;
}

.tutor-card-body i {
    font-family: 'Clash Display Extralight', sans-serif;
    color: var(--fifth-color);
    margin-right: 2rem;
}

.last-search{
    font-family: 'Clash Display ExtraLight';
    text-align: center;
}